.card {
    display: inline-block;
    margin : 48px 36px;
    border-color: transparent   ;
    box-shadow: 0 0 6px;
    border-radius: 0 0 10px 10px;
}

.card img {
    width: 210px;
    height: 120px;
}

.card p {
    font-size: 12px;
}

.title {
    padding: 4px 12px 8px 12px;
}

.price {
    padding: 0 12px;
    color: #d8690b;
}