* {
    font-family: 'Sarabun', sans-serif;
}

.App-header {
    background-color: orange;
    color: azure;
    padding: 12px;
    text-align: center;
}

.card {
    display: inline-block;
    border: #000000 1px solid;
    padding: 24px;
    margin: 24px 24px 24px 30px;
    text-align: center;
}
.buttonContainer button{
    background-color: #000000;
    margin: 12px;
    padding: 12px;
    color: white;
}

.buttonContainer button:hover {
    background-color: white;
    color: #000000;
}

.buttonContainer {
    text-align: center;
}
