* {
    font-family: 'Sarabun', sans-serif;
}


.App-header {
    background-color: orange;
    color: azure;
    padding: 12px;
    text-align: center;
}

.cardContainer{
    display: grid;
    grid-template-columns: auto auto auto;

}
.card {
    border: #000000 1px solid;
    padding: 12px;
    margin: 24px;
    text-align: center;
    justify-items: center;
}

.card img{
    padding-top: 12px;
}

.buttonContainer button{
    background-color: #000000;
    margin: 12px;
    padding: 12px;
    color: white;
}

.buttonContainer button:hover {
    background-color: white;
    color: #000000;
}

.buttonContainer {
    text-align: center;
}
